@model LibraryLite.UI.Web.MVC.Presentation.ViewModels.BookLoanRequestViewModel
@using System.Globalization

@{
    ViewBag.Title = "Loan book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-container">
    <div class="form-wrapper">
        @using (Html.BeginForm("Create", "BookLoan", FormMethod.Post, new { @class = "form-horizontal ", role = "form" }))
        {
            @*<button class="form-btn-hide">
                <i class="fa fa-close" aria-hidden="true"></i>
            </button>*@

            <form class="form validate-form">
                <span class="form-title">
                    Add book loan
                </span>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="input-wrapper validate-input" data-validate="Sudent is required">
                    <span class="input-label">Student name</span><br />
                    @Html.DropDownList("StudentId", ViewBag.StudentSelectionList as IEnumerable<SelectListItem>, "-select student", new { @class = "input" })
                    <span class="input-focus"></span>
                </div>

                <div class="input-wrapper validate-input" data-validate="Book to loan is required">
                    <span class="input-label">Book name</span><br />
                    @Html.DropDownList("BookId", ViewBag.BookSelectionList as IEnumerable<SelectListItem>,"-select book", new { @class = "input" })
                    <span class="input-focus"></span>
                </div>

                <div class="input-wrapper validate-input" data-validate="Date of issue is required">
                    <span class="input-label ">Date of issue</span><br />
                    @Html.TextBoxFor(m => m.DateOfIssue,"{0:dd/MM/yyyy}", new {@class="input"})
                    <span class="input-focus"></span>
                </div>

                <div class="input-wrapper validate-input">
                    <span class="input-label">Due date</span><br />
                    @Html.TextBoxFor(m => m.DueDate, "{0:dd/MM/yyyy}", new { @class = "input"})
                    <span class="input-focus"></span>
                </div>
                <div class="form-container-form-btn">
                    <button class="form-btn">
                        <span>
                            Add book loan
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                    </button>
                    <a href="@Url.Action("Index","BookLoan")"><i class='fa fa-long-arrow-left m-l-7'></i>Back to List</a>
                </div>
            </form>
        }
    </div>
</div>






