@model LibraryLite.UI.Web.MVC.Presentation.ViewModels.BookLoanRequestViewModel

@{
    ViewBag.Title = "Book loans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list">
    <h2>Book loans</h2>
    <p>View,add new or change existing book loan information</p>
    <a href="@Url.Action("Create","BookLoan")"><i class='fa fa-plus-circle'></i>Loan book</a>

    <table id="tableId" class="search table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StudentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookId)
                </th>
                <th>
                    @Html.DisplayName("Book title")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfIssue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>    
</div>
<script>
    $(document).ready(function () {
        getBookLoans();
    });
</script>
 