@model IEnumerable<LibraryLite.UI.Web.MVC.Presentation.ViewModels.ClassViewModel>

@{
    ViewBag.Title = "Class index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list">
    <h2>Class list</h2>
    <p>View,add new or change existing class details</p>
    <a href="@Url.Action("Create","Class")"><i class='fa fa-plus-circle'></i>ADD</a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClassName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                     @Html.DisplayFor(modelItem => item.ClassName)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Class", new  { id = item.Id})"><i class='fa fa-edit'></i>Edit</a>
                        <a href="@Url.Action("Delete", "Class", new { id = item.Id })"><i class='fa fa-times-circle alert-danger'></i>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
