@model LibraryLite.UI.Web.MVC.Presentation.ViewModels.ApplicationSettingsViewModel

@{
    ViewBag.Title = "Create settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-container">
    <div class="form-wrapper">
        @using (Html.BeginForm("Create", "Settings", FormMethod.Post, new { role = "form" }))
        {
            @*<button class="form-btn-hide">
                    <i class="fa fa-close" aria-hidden="true"></i>
                </button>*@

            <form class="form validate-form">
                <span class="form-title">
                    Add settings
                </span>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="input-wrapper validate-input" data-validate="Username is required">
                    <span class="input-label">Institution name</span>
                    @Html.TextBoxFor(m => m.InstitutionName, new { @class = "input", @placeholder = "Enter institution name" })
                    <span class="input-focus"></span>
                </div>

                <div class="input-wrapper validate-input" data-validate="Password is required">
                    <span class="input-label">Maximum loanable books</span>
                    @Html.TextBoxFor(m => m.MaxBooksLoanable, new { @class = "input", @placeholder = "Enter maximum loanable books" })
                    <span class="input-focus"></span>
                </div>

                <div class="input-wrapper validate-input" data-validate="Password confirmation is required">
                    <span class="input-label">Loan days</span>
                    @Html.TextBoxFor(m => m.LoanDays, new { @class = "input", @placeholder = "Enter maximum loan days" })
                    <span class="input-focus"></span>
                </div>
                <div class="input-wrapper validate-input" data-validate="Password confirmation is required">
                    <span class="input-label">Penalty</span>
                    @Html.TextBoxFor(m => m.Penalty, new { @class = "input", @placeholder = "Enter penalty in (Ksh)" })
                    <span class="input-focus"></span>
                </div>
                <div class="form-container-form-btn">
                    <button class="form-btn">
                        <span>
                            Add settings
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </form>
        }
    </div>
</div>





