@model LibraryLite.UI.Web.MVC.Presentation.ViewModels.UserViewModel
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-container">
    <div class="form-wrapper">
        @using (Html.BeginForm("AddUser", "Admin", FormMethod.Post, new {role = "form" }))
        { 
           @*<button class="form-btn-hide">
                <i class="fa fa-close" aria-hidden="true"></i>
            </button>*@

            <form class="form validate-form">
            <span class="form-title">
                Add user
            </span>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="input-wrapper validate-input" data-validate="Username is required">
                <span class="input-label">Username</span>
                @Html.TextBoxFor(m => m.UserName, new { @class = "input", @placeholder = "Enter your username" })
                <span class="input-focus"></span>
            </div>

            <div class="input-wrapper validate-input" data-validate="Password is required">
                <span class="input-label">Password</span>
                @Html.PasswordFor(m => m.Password, new { @class = "input", @placeholder = "Enter your password" })
                <span class="input-focus"></span>
            </div>

            <div class="input-wrapper validate-input" data-validate="Password confirmation is required">
                <span class="input-label">Confirm password</span>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input", @placeholder = "Enter your password" })
                <span class="input-focus"></span>
            </div>

            <div class="input-wrapper validate-input">
                <span class="input-label">Assign roles</span><br />
                @Html.ListBoxFor(i => Model.SelectedClaims, Model.UserClaims, new { @id = "userroles", @class = "input" })
                <span class="input-focus"></span>
            </div>
                <div class="form-container-form-btn">
                    <button class="form-btn">
                        <span>
                            Add User
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                    </button>
                    <a href="@Url.Action("Index","Admin")"><i class='fa fa-long-arrow-left m-l-7'></i>Back to List</a>
                </div>
        </form>
        }
    </div>
</div>
