@model IEnumerable<LibraryLite.UI.Web.MVC.Presentation.ViewModels.UserListViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="list">
    <h2>User list</h2>
    <p>View,add new or change existing user information</p>
    <a href="@Url.Action("AddUser", "Admin")"><i class='fa fa-plus-circle'></i>ADD</a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a href="@Url.Action("EditUser", "Admin", new  { id = item.Id})"><i class='fa fa-edit'></i>Edit</a>
                        <a href="@Url.Action("DeleteUser","Admin",new { id =item.Id })"><i class='fa fa-times-circle alert-danger'></i>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

